<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famous Budget Application</title>
	
    <link href="\static\bootstrap-4.4.1-dist\css\bootstrap.min.css" rel="stylesheet">
	<link href="\static\base.css" rel="stylesheet">
  </head>	
	

  <body>
    <div class="container">	
      <div class="row">
        <div class="col-md-10 col-md-offset-3 jumbotron">
          <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
	  <h2> {% block name_text %} {% endblock %}</h2>
	  		
            <form method="POST" action="{% block form_action %}{% endblock %}">
		{% csrf_token %}
		{% block form_one %}{% endblock %}
		<input type="submit" value="add">		  
            </form>
	<div id='option2'>{% block optional_item2 %}{{ new_cat }}{% endblock %}		</div>
	<form method="POST" action="{% block add_cat %}{% endblock %}">
		{% csrf_token %}
		{% block optional_item %}{% endblock %}
			
	 </form>
          </div>
        </div>
      </div>
	<div class="jumbotron">
		
	</div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form method="POST" action="{% block form_action2 %}{% endblock %}">
		  {% csrf_token %}
		  {% block form_two %}
          {% endblock %}
		  </form>
		  {% block table %}
          {% endblock %}
		  
        </div>
      </div>

    </div>
  </body>


</html>