{% extends 'fantasticApp/base.html' %}

{% block header_text %}Famous Budget Application {% endblock %}
{% block name_text %} {{ cat.category_name}} {% endblock %}
{% block optional_info_text %}  
	<div>Monthly total: {{ cat.monthly_total }}</div>
	<div>Month-to-month average {{ cat.monthly_total }}</div>
	<div>Average entry amount: {{ avg_entry}}</div>
	<div>Lifetime total: {{ cat.overall_total }}</div>
	<div>Previous monthly total: {{ mo_stats.prev_total}} </div>
	<div>Total entries: {{ mo_stats.monthly_total}}</div>
{% endblock %}

{% block optional_item2 %}Transaction Information -  {{ cat.category_name }} {% endblock %}
{% block form_action %} {% endblock %}
{% block optional_action %}{% url 'fantasticApp:catdetail' cat.category_name %}?user_name={{ user_name }}{% endblock %}
{% block optional_item %}{{ form_one }}{% endblock %}
{% block button_two %}<input type="submit" value="record entry">{% endblock %}


{% block list_loop %} 
<table id="id_list_cats" class="table">

	<tr><td><br /><br />top. </td></tr>
	
	{% for ent in selected_entries %}
	<tr>
		<td>
		<form method="Post" action=" {% url 'fantasticApp:catdetail' cat.category_name %}?user_name={{ user_name }}">
				<input type="submit" value="Update Entry" name="cat_detail" id="id_cat_detail">
				{% csrf_token %}
			</form>
			<form method="Post" action=" {% url 'fantasticApp:listcat' user_name %}">
				<input type="submit" value="Delete Entry" name="cat_detail" id="id_cat_detail">
				{% csrf_token %}
			</form>
		<table id="id_inner_entry" class="table">
			<tr>
				<td>Entry Number</td>
				<td>Item</td>
				<td>Amount</td>
				<td>Date</td>
				<td>Notes</td>
			</tr>
			<tr>
				<td>{{ ent.id }} </td>
				<td>{{ ent.cat.category_name }}</td>
				<td>{{ ent.amount }} </td>		
				<td>{{ ent.transaction_date }}</td>	
				<td>{{ ent.entry_note }}  {{  object.entry_note }}  </td>
			</tr>
		</table>
			
			
		</td>
	</tr>
	{% endfor %}
	
</table>

{% endblock %}



