{% extends 'fantasticApp/base.html' %}

{% block header_text %}Famous Budget Application {% endblock %}
{% block name_text %} {{ user_name }}'s Added Category {% endblock %}
{% block form_one %}{{ form_one }}{% endblock %}
{% block optional_item2 %}
<table id="id_list_cats" class="table">
	{% for cat in current_user.category_set.all %}
	<tr>
		<td> {{ cat.category_name }} </td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
{% block form_action %} {%  url 'fantasticApp:listcat'  user_name  %}{% endblock %}

