{% extends 'fantasticApp/base.html' %}

{% block header_text %}Famous Budget Application {% endblock %}
{% block name_text %} {{ user_name }}'s Added Category {% endblock %}
{% block form_one %}{{ form_one }}{% endblock %}
{% block optional_item2 %}
<!-- <table id="id_list_cats" class="table"> -->
	
<!-- </table> -->
{% endblock %}

{% block list_loop %} 
    {% for cat in current_user.category_set.all %}
	<tr>
		<td>
			<form method="Post" action=" {% url 'fantasticApp:catdetail' cat.category_name %}?user_name={{ user_name }}">
				{{ cat.category_name }}  <input type="submit" value="Category Detail" name="cat_detail" id="id_cat_detail">
				{% csrf_token %}
			</form>
		</td>
	</tr>
    {% endfor %}
{% endblock %}
