<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famous Budget Application</title>
	
    <link href="\static\bootstrap-4.4.1-dist\css\bootstrap.min.css" rel="stylesheet">
	<!-- <link href="\static\base.css" rel="stylesheet"> -->
	<!-- <link href="\static\bootstrap.css" rel="stylesheet"> -->
  </head>	


<h1>the message sent is {{ box_contents }} </h1>
<form>
<label>Insert text there</label>
<input type = "text" id = "inbox" class="form-control" value = "insert text here">
<button id="inbutton" class=="btn btn-primary" >IB</button>
</form>
<B>THIS IS BOLD</B>
<P> THIS IS PARAGRATH</P>